<%= form_with model: @term do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name, "Name" %>  
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.label :dtstart, "Start Date" %>  
    <%= f.text_field :dtstart, type: 'date', value: (f.object.dtstart || Time.now).to_date, class: 'form-control col-6' %>
    <%= f.label :dtend, "End Date" %>  
    <%= f.text_field :dtend, type: 'date', value: (f.object.dtend || Time.now).to_date, class: 'form-control col-6' %>
  </div>


  <div class="form-check">
    <p>Type</p>
    <%= f.radio_button :holiday, false, class: "form-check-input"%>
    <%= f.label "Quarter or Intersession" %>
    <%= f.radio_button :holiday, true, class: "form-check-label" %>
    <%= f.label "Holiday" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Term", class: "btn btn-primary" %>
  </div>
<% end %>
