<%= bootstrap_form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.text_field :name %>
  <%= f.text_field :dtstart, type: 'date' %>
  <%= f.text_field :dtend, type: 'date' %>

  <div class="actions">
    <%= f.primary %>
  </div>
<% end %>
