<%= bootstrap_form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.text_field :name %>
  <%= f.text_field :dtstart, type: 'date', value: (f.object.dtstart || Time.now).to_date %>
  <%= f.text_field :dtend, type: 'date', value: (f.object.dtend || Time.now).to_date %>

  <%= f.form_group :holiday, label: { text: "Type" } do %>
    <%= f.radio_button :holiday, false, label: "Quarter or Intersession" %>
    <%= f.radio_button :holiday, true, label: "Holiday" %>
  <% end %>

  <div class="actions">
    <%= f.primary %>
  </div>
<% end %>
