<h1>Listing Terms</h1>

<h2>Quarters and Intersessions</h2>
<% @terms.quarters_and_intersessions.group_by(&:year).each do |year, terms| %>
  <h2><%= year %></h2>

  <%= render terms.sort_by(&:dtstart) %>
<% end %>

<h2>Holidays</h2>
<% @terms.holidays.group_by(&:year).each do |year, terms| %>
  <h2><%= year %></h2>

  <%= render terms.sort_by(&:dtstart) %>
<% end %>

<%= link_to 'New Term', new_term_path if can? :create, Term %>
