<h1><%= @term.name %> term information</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Dtstart:</strong>
  <%= @term.dtstart %>
</p>

<p>
  <strong>Dtend:</strong>
  <%= @term.dtend %>
</p>

<p>
  <strong>Name:</strong>
  <%= @term.name %>
</p>

<%= link_to 'Edit', edit_term_path(@term), class: 'su-underline' %> |
<%= link_to 'Back', terms_path, class: 'su-underline' %>
