<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'http://library.stanford.edu' do %>
      <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
      <%= image_tag "sul-logo.png", class: "hidden-xs", alt: "", height: 25 %>
      <%= image_tag "sul-logo-small.png", class: "visible-xs", alt: "", height: 25 %>
    <% end %>

    <div class="header-links">
      <% if current_user %>
        <%= link_to "#{current_user.uid}: Logout", logout_path(referrer: root_path) %>
        <%= link_to "Manage Data", spreadsheets_path if can? :manage, Spreadsheet %>
      <% else %>
        <%= link_to "Login", login_path(referrer: request.original_url) %>
      <% end %>
    </div>

  </header>
</div>

<div class="topnav-divider">
</div>
