<% unless current_page? feedback_path %>
<div id="feedback-form" class="feedback-form-container collapse">
  <%= render "shared/feedback_forms/form" %>
</div>
<% end %>

<nav id="top-nav-bar" class="d-none d-sm-block">
  <div class="container">
    <ul class="d-flex justify-content-end">
      <%= render 'shared/nav_link_list', item_class: "list-inline-item" %>
    </ul>
  </div>
</nav>

<nav id="topnav-container" class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <%= link_to 'http://library.stanford.edu', class: 'navbar-brand' do %>
    <%= image_tag 'logo.svg', alt: 'Stanford University Libraries' %>
    <% end %>
    <button class="btn-light navbar-toggler bg-light me-1" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon me-auto"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-block d-sm-none">
        <ul class="navbar-nav me-auto ps-3">
          <%= render "shared/nav_link_list", item_class: "nav-item" %>
        </ul>
      </div>
    </div>
  </div>
</nav>
