<nav id="top-nav-bar" class="d-none d-sm-block">
  <div class="container">
    <ul class="d-flex justify-content-end">
      <%= render 'shared/nav_link_list' %>
    </ul>
  </div>
</nav>

<nav id="topnav-container" class="navbar navbar-expand-sm navbar-light">
  <div class="container">
  <%= link_to 'http://library.stanford.edu', class: 'navbar-brand' do %>
        <%= image_tag 'logo.svg', alt: 'Stanford University Libraries' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-block d-sm-none">
    <ul class="navbar-nav mr-auto">
      <%= render "shared/nav_link_list", navbar_nav: true %>
    </ul>
    </div>
  </div>
  </div>
</nav>

<% unless current_page? feedback_path %>
  <div id="feedback-form" class="feedback-form-container collapse">
    <%= render "shared/feedback_forms/form" %>
  </div>
<% end %>
