<%= form_with model: @library, data: { controller: 'nested-form', nested_form_selector_value: '.inner-container' } do |form| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>
      <ul>
      <% @library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name, class: 'form-control'%>
    <%= form.label :slug, "Slug:" %>
    <%= form.text_field :slug, class: 'form-control' %>
    <%= form.fields_for :node_mapping, @library.node_mapping || @library.build_node_mapping do |n| %>
      <%= form.label :node_id, "Node:" %>
      <%= n.text_field :node_id, class: 'form-control' %>
    <% end %>
    <div class="form-check">
      <%= form.check_box :public, class: "form-check-input" %>
      <%= form.label :public, "Display on home page", class: "form-check-label" %>
    </div>
  </div>

  <h4>Library's Locations:</h4>

  <ul data-nested-form-target="addItem">
    <%= form.fields_for :locations do |locations_form| %>
        <li class="inner-container">
          <%= locations_form.label :name, "Name:", required: true %>
          <%= locations_form.text_field :name, class: 'form-control'%>
          <div class="form-check">
            <%= locations_form.check_box :keeps_hours, class: "form-check-input" %>
            <%= locations_form.label :keeps_hours, "Keeps hours", class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= locations_form.check_box :primary, class: "form-check-input" %>
            <%= locations_form.label :primary, "Use location for library hours", class: "form-check-label" %>
          </div>
          <%= button_tag type: 'button', class: 'btn btn-outline-danger', aria: { label: "Remove this Location" },
                  data: { action: "click->nested-form#removeAssociation" } do %>
            Remove this Location
          <% end %>
          <%= locations_form.hidden_field :_destroy %>
        </li>
    <% end %>
  </ul>
  <template data-nested-form-target='template'>
    <%= form.fields_for :locations, Location.new, child_index: 'TEMPLATE_RECORD' do |locations_form| %>
      <li class="inner-container">
        <%= locations_form.label :name, "Name:", required: true %>
        <%= locations_form.text_field :name, class: 'form-control'%>
        <div class="form-check">
          <%= locations_form.check_box :keeps_hours, class: "form-check-input" %>
          <%= locations_form.label :keeps_hours, "Keeps hours", class: "form-check-label" %>
        </div>
        <div class="form-check">
          <%= locations_form.check_box :primary, class: "form-check-input" %>
          <%= locations_form.label :primary, "Use location for library hours", class: "form-check-label" %>
        </div>
        <%= button_tag type: 'button', class: 'btn btn-outline-danger', aria: { label: "Remove this Location" },
                data: { action: "click->nested-form#removeAssociation" } do %>
          Remove this Location
        <% end %>
        <%= locations_form.hidden_field :_destroy %>
      </li>
    <% end %>
  </template>
  <%= button_tag "Add a Location", class: 'btn btn-outline-success',
                  data: { action: 'nested-form#addAssociation' } %>

  <div class="actions mt-3">
    <%= form.submit "Create Library", class: "btn btn-primary" %>
  </div>
<% end %>
