<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <% @range.to_a.each do |d| %>
        <th><%= render_short_date d %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% locations.select { |x| x.calendars.any? }.each do |l| %>
      <tr>
        <td><%= link_to l.name, library_location_path(l.library, l) %></td>
        <% days = l.calendars.in_range(@range).group_by(&:date) %>

        <% @range.to_a.each do |e| %>
          <td itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
            <span itemprop="validFrom" content="<%= l e %>" aria-hidden="true"></span>
            <span itemprop="validThrough" content="<%= l e %>" aria-hidden="true"></span>
            <% Array.wrap(days[e]).each do |d|  %>
              <% if can? :edit, d %>
                <%= link_to '#', class: 'editable', data: { type: 'text', resource: 'date', name: 'time', url: library_location_calendar_path(d.library, d.location, d) } do %>
                  <%= render_hours(d) %>
                <% end %>
              <% else %>
                <%= render_hours(d) %>
              <% end %>
            <% end %>

            <% if Array.wrap(days[e]).blank? %>
              <% if can? :create, Calendar %>
                <%= link_to '#', class: 'editable', data: { type: 'text', resource: 'date', name: 'time', url: library_location_calendars_path(l.library, l, day: e) } do %>
                  n/a
                <% end %>
              <% else %>
                n/a
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>