<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <% @range.to_a.each do |d| %>
        <th><%= render_short_date d %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% locations.select { |x| x.calendars.any? }.each do |l| %>
      <tr>
        <td><%= link_to l.name, library_location_path(l.library, l) %></td>
        <% days = l.calendars.in_range(@range).group_by(&:date) %>

        <% @range.to_a.each do |e| %>
          <td itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
            <span itemprop="validFrom" content="<%= l e %>" aria-hidden="true"></span>
            <span itemprop="validThrough" content="<%= l e %>" aria-hidden="true"></span>
            <% Array.wrap(days[e]).each do |d|  %>
              <% if d.closed? %>
                <span class="closed">closed</span>
              <% elsif d.open_24h? %>
                <span class="open-24h">open 24h</span>
              <% else %>
                <time itemprop="opens" datetime="<%= d.dtstart.localtime %>"><%= render_short_time(d.dtstart.localtime) %></time>-<time itemprop="closes" datetime="<%= d.dtend.localtime %>"><%= render_short_time(d.dtend.localtime) %></time>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>