<table class="table table-responsive weekly-hours">
<div class="editable-error-block"></div>
  <thead>
    <tr>
      <th class="location-name"><span class='visually-hidden'>Location</span></th>
      <% @range.to_a.each do |d| %>
        <th class="hours <%= 'holiday' if Term.holiday? d %>">
          <% if Term.holiday? d %>
            <div><small><%= Term.holidays.for_date(d).first.name %></small></div>
          <% end %>
          <%= l(d, format: :very_short) %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% ((locations.with_hours if locations.respond_to? :with_hours) || locations).each do |l| %>
      <tr>
        <td class="location-name"><%= render 'locations/note_popover', location: l if l.note.present? %><%= l.name %></td>

        <% l.hours(@range).each do |calendars| %>
          <td class="hours <%= 'exceptions' if calendars.any?(&:persisted?) %> <%= 'holiday' if Term.holiday? calendars.first.date %>" itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
            <span itemprop="validFrom" content="<%= l calendars.first.date %>" aria-hidden="true"></span>
            <span itemprop="validThrough" content="<%= l calendars.first.date %>" aria-hidden="true"></span>
            <% calendars.each do |d|  %>
            <span data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="<%= [d.summary, d.description].reject(&:blank?).compact.join(" / ") %>">
              <%= render 'calendars/time', calendar: d %>
            </span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
