<table class="table weekly-hours">
  <thead>
    <tr>
      <th class="location-name"></th>
      <% @range.to_a.each do |d| %>
        <th class="hours <%= 'holiday' if Term.holiday? d %>">
          <% if Term.holiday? d %>
            <div><small><%= Term.holidays.for_date(d).first.name %></small></div>
          <% end %>
          <%= l(d, format: :very_short) %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% ((locations.with_hours if locations.respond_to? :with_hours) || locations).each do |l| %>
      <tr>
        <td class="location-name"><%= link_to l.name, library_location_path(l.library, l) %></td>

        <% l.hours(@range).each do |calendars| %>
          <td class="hours <%= 'exceptions' if calendars.any?(&:persisted?) %> <%= 'holiday' if Term.holiday? calendars.first.date %>" itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
            <span itemprop="validFrom" content="<%= l calendars.first.date %>" aria-hidden="true"></span>
            <span itemprop="validThrough" content="<%= l calendars.first.date %>" aria-hidden="true"></span>
            <% calendars.each do |d|  %>
            <span data-toggle="tooltip" data-placement="left" title="<%= [d.summary, d.description].reject(&:blank?).compact.join(" / ") %>">
              <% if can? :edit, d %>
                <%= link_to '#', class: 'editable', data: { type: 'text', resource: 'date', name: 'time', url: d.persisted? ? library_location_calendar_path(d.library, d.location, d) : library_location_calendars_path(l.library, l, day: d.date)} do %>
                  <%= render_hours(d) %>
                <% end %>
              <% else %>
                <%= render_hours(d) %>
              <% end %>
            </span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
