<div class="row">
  <div class="col-md-2 pull-right">
    Jump to:
    <input type="date" class="form-control" />

    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Quarters + Holidays <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% Term.current_and_upcoming.each do |t| %>
        <li><%= link_to t.name + " (#{t.dtstart.strftime('%Y')})", params.merge(week: t.dtstart.strftime("%YW%V"))%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<nav>
  <ul class="pager">
    <li class="previous"><%= link_to "&larr; Previous".html_safe, params.merge(week: (@range.begin - 1.week + 1.day).strftime("%YW%V")) %></li>
    <li><%= l(@range.begin, format: :long) %>-<%= l(@range.end, format: :long) %></li>
    <li class="next"><%= link_to "Next &rarr;".html_safe, params.merge(week: (@range.begin + 1.week + 1.day).strftime("%YW%V")) %></li>
  </ul>
</nav>