<% breadcrumb @library %>

<p id="notice"><%= notice %></p>


<h1><%= @library.name %> hours</h1>
<%= link_to t(:'location_and_access'), "https://library.stanford.edu/node/#{@library.node_id}", class: 'sul-i-arrow-left-3 location-and-access' if @library.node_id %>

<% if current_user && current_user.superadmin? %>
<%= link_to 'Edit library', edit_library_path(@library), class: 'btn btn-default' if can? :edit, @library %>
<%= link_to 'Edit hours', library_term_hours_path(@library), class: 'btn btn-default' if can? :edit, @library %>
<% else %>
<%= link_to 'Edit', library_term_hours_path(@library), class: 'btn btn-default' if can? :edit, @library %>
<% end %>

<%= render 'range' %>
<%= render partial: 'location_hours', locals: { locations: @library.locations } %>

<% if current_user && current_user.superadmin? %>
  <% if @library.locations.without_hours.any? %>
  <h2>Other locations</h2>
  <ul class="list-unstyled">
    <% @library.locations.without_hours.each do |l| %>
      <li><%= link_to l.name, library_location_path(@library, l) %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
