<p id="notice"><%= notice %></p>


<h1><%= @library.name %></h1>
<%= link_to 'Edit', edit_library_path(@library), class: 'btn btn-default' if can? :edit, @library %>

<h2>Locations</h2>

<div class="row">
  <div class="col-xs-12 col-md-9">
    <%= link_to 'Edit normal hours', library_term_hours_path(@library), class: 'btn btn-info' if can? :edit, @library %>

    <%= link_to 'Download CSV', library_url(@library, format: 'csv'), class: 'btn btn-default pull-right' if can? :manage, @library %>
  </div>
  <div class="col-xs-12 col-md-9">
    <%= render 'range' %>
    <%= render partial: 'location_hours', locals: { locations: @library.locations } %>
  </div>
</div>

<% if current_user.superadmin? %>
  <% if @library.locations.without_hours.any? %>
  <h2>Other locations</h2>
  <ul class="list-unstyled">
    <% @library.locations.without_hours.each do |l| %>
      <li><%= link_to l.name, library_location_path(@library, l) %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>