<p id="notice"><%= notice %></p>

<%= render 'range' %>
<h1><%= @library.name %></h1>

<h2>Locations</h2>
<div class="row">
  <div class="col-xs-12 col-md-9">
    <%= render partial: 'location_hours', locals: { locations: @library.locations } %>
  </div>
</div>

<% locations_without_hours = @library.locations.select { |x| x.calendars.none? } %>
<% if locations_without_hours.any? %>
<h2>Other locations</h2>
<ul class="list-unstyled">
  <% locations_without_hours.each do |l| %>
    <li><%= link_to l.name, library_location_path(@library, l) %></li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_library_path(@library) if can? :edit, @library %>
