<%= form_for(@node_mapping) do |f| %>
  <% if @node_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node_mapping.errors.count, "error") %> prohibited this node_mapping from being saved:</h2>

      <ul>
      <% @node_mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :node_id %><br>
    <%= f.number_field :node_id %>
  </div>
  <div class="field">
    <%= f.label :mapped_id %><br>
    <%= f.number_field :mapped_id %>
  </div>
  <div class="field">
    <%= f.label :mapped_type %><br>
    <%= f.text_field :mapped_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
