<p id="notice"><%= notice %></p>

<h1>Listing Node Mappings</h1>

<table>
  <thead>
    <tr>
      <th>Node</th>
      <th>Mapped</th>
      <th>Mapped type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @node_mappings.each do |node_mapping| %>
      <tr>
        <td><%= node_mapping.node_id %></td>
        <td><%= node_mapping.mapped_id %></td>
        <td><%= node_mapping.mapped_type %></td>
        <td><%= link_to 'Show', node_mapping %></td>
        <td><%= link_to 'Edit', edit_node_mapping_path(node_mapping) %></td>
        <td><%= link_to 'Destroy', node_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Node mapping', new_node_mapping_path %>
