<% url = calendar.persisted? ? library_location_calendar_path(calendar.library, calendar.location, calendar) : library_location_calendars_path(calendar.location.library, calendar.location, day: calendar.date) %>

<%= form_with model: calendar, url: url do |f| %>
  <% if f.object.errors.any? %>
    <p class="alert alert-danger"><%= to_sentence f.object.errors.full_messages %></p>
  <% end %>
  <div class="input-group" style="width: 14em;">
    <%= text_field_tag 'date[time]', f.object.to_text, class: 'form-control', style: 'width: 8em' %>
    <%= f.hidden_field :date, name: 'day' %>
    <%= button_tag class: 'btn btn-primary' do %>
      <i class="fas fa-check"></i>
    <% end %>
    <%= link_to url, class: 'btn btn-outline-secondary' do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
<% end%>
