<p id="notice"><%= notice %></p>

<h1>Listing Calendars</h1>

<table>
  <thead>
    <tr>
      <th>Dtstart</th>
      <th>Dtend</th>
      <th>Location</th>
      <th>Summary</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.dtstart %></td>
        <td><%= calendar.dtend %></td>
        <td><%= calendar.location %></td>
        <td><%= calendar.summary %></td>
        <td><%= calendar.description %></td>
        <td><%= link_to 'Show', calendar %></td>
        <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
        <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar', new_calendar_path %>
