<h1>Validate Spreadsheet</h1>

<p>
  <strong>Attachment:</strong>
  <%= link_to @spreadsheet.attachment_filename, @spreadsheet.attachment_id %> (<%= @spreadsheet.attachment_content_type %>; <%= number_to_human_size @spreadsheet.attachment_size %>)
</p>

<p>
  <strong>Locations:</strong>
  <ul class="list-unstyled compact-alerts">
    <% @spreadsheet.locations.each do |slug, l| %>
      <% if l %>
        <li class="alert alert-success"><%= slug %> : <%= link_to l.library.name, l.library %> / <%= link_to l.name, [l.library, l] %></li>
      <% else %>
        <li class="alert alert-danger"><%= slug %> : unable to find library</li>
      <% end %>
    <% end %>
  </ul>
</p>

<p>
  <strong>Dates range:</strong>

  <ul class="list-unstyled alert <%= @spreadsheet.continuous? ? 'alert-success' : 'alert-danger' %>">
    <% @spreadsheet.dates.each do |range| %>
      <li>From <%= range.begin %> through <%= range.end %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Bad or missing data:</strong>
    <% c = @spreadsheet.bad_data.reject { |cal| cal.location.blank? } %>
    <ul class="list-unstyled alert <%= c.none? ? 'alert-success' : 'alert-danger' %>">
      <% c.each do |cal| %>
        <li><%= cal.dtstart_unparsed %>: <%= "#{cal.library.try(:slug)} / #{cal.location.try(:slug)}" %> <%= cal.errors.messages %></li>
      <% end %>
    </ul>
</p>

<%= link_to 'Import', import_spreadsheet_path(@spreadsheet), data: { turbo_method: "post" }, class: 'btn btn-primary' %>
