<%= nested_form_for [@location.library, @location] do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_field :slug %>
  <%= f.fields_for :node_mapping, @location.node_mapping || @location.build_node_mapping do |n| %>
    <%= n.text_field :node_id %>
  <% end %>
  <%= f.check_box :keeps_hours %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
