<%= form_with model: [@location.library, @location] do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :slug, "Slug:" %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>

  <div class="form-check">
    <%= f.check_box :keeps_hours, class: "form-check-input" %>
    <%= f.label :keeps_hours, "Keeps hours", class: "form-check-label" %>
  </div>
  <div class="form-check">
    <%= f.check_box :primary, class: "form-check-input" %>
    <%= f.label :primary, "Use location for library hours", class: "form-check-label" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Location", class: "btn btn-primary" %>
  </div>
<% end %>
