<% title "#{@location.library.name} - #{@location.name}" %>
<% breadcrumb @location %>

<p id="notice"><%= notice %></p>

<h1><%= @location.name %> hours</h1>

<% if @location.library.about_url %>
  <%= link_to @location.library.about_url, class: 'location-and-access' do %>
    <span class="fas fa-arrow-left" aria-hidden="true"></span>
    <%= t(:'location_and_access') %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_library_location_path(@location.library, @location), class: 'btn btn-secondary' if can? :edit, @location %>

<div class="row">
  <div class="col-xs-12 col-md-9">
    <%= link_to 'Edit normal hours', library_term_hours_path(@location.library), class: 'btn btn-info' if can? :edit, @location %>
  </div>
</div>

<%= render 'libraries/range' %>
<%= render partial: 'libraries/location_hours', locals: { locations: [@location] } %>
