<% breadcrumb @location %>

<p id="notice"><%= notice %></p>

<h1><%= @location.name %> hours</h1>
<%= link_to t(:'location_and_access'), "https://library.stanford.edu/node/#{@location.node_id}", class: 'sul-i-arrow-left-3 location-and-access' if @location.node_id %>
<%= link_to 'Edit', edit_library_location_path(@location.library, @location), class: 'btn btn-default' if can? :edit, @location %>

<div class="row">
  <div class="col-xs-12 col-md-9">
    <%= link_to 'Edit normal hours', library_term_hours_path(@location.library), class: 'btn btn-info' if can? :edit, @location %>
  </div>
</div>

<%= render 'libraries/range' %>
<%= render partial: 'libraries/location_hours', locals: { locations: [@location] } %>
