<p id="notice"><%= notice %></p>

<%= render 'libraries/range' %>
<h1><%= @location.library.name %> / <%= @location.name %></h1>


<%= render partial: 'libraries/location_hours', locals: { locations: [@location] } %>

<%= link_to 'Edit', edit_library_location_path(@location.library, @location) %> |
<%= link_to 'Back', libraries_path %>
