<%= nested_form_for [@term_hour.library, @term_hour.location, @term_hour] do |f| %>
  <% if @term_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term_hour.errors.count, "error") %> prohibited this term_hour from being saved:</h2>

      <ul>
      <% @term_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% f.object.class.stored_attributes[:data].each do |a| %>
    <%= f.text_field a %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
