<% url = term_hour.persisted? ? library_location_term_hour_path(term_hour.location.library_id, term_hour.location, term_hour, day_of_week: params[:day_of_week]) : library_location_term_hours_path(term_hour.location.library_id, term_hour.location, term_id: term_hour.term_id, day_of_week: params[:day_of_week]) %>

<%= form_with model: term_hour, url: url do |f| %>
  <% if f.object.errors.any? %>
    <p class="alert alert-danger"><%= to_sentence f.object.errors.full_messages %></p>
  <% end %>
  <div class="row" style="width: 14em;">
    <%= f.text_field day_of_week, class: 'form-control', style: 'width: 8em' %>
    <%= button_tag class: 'btn btn-primary' do %>
      <i class="fas fa-check"></i>
    <% end %>
    <%= link_to url, class: 'btn btn-outline-secondary' do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
<% end %>