<h1>Listing Term Hours for <%= @library.name %></h1>

<% terms_by_year.each do |year, terms| %>
  <h2><%= year %></h2>
  <% terms.each do |term| %>
    <h3><%= term.name %> <small><%= l term.dtstart.localtime.to_date %> - <%= l term.dtend.localtime.to_date %></small></h3>
    <%= render 'hours', locations: @library.locations, term: term %>
  <% end %>
<% end %>