<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Stanford University Libraries' hours" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= title site: 'Library Hours', separator: '|', reverse: true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <link href="https://www-media.stanford.edu/su-identity/css/su-identity.css" rel="stylesheet">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2024-12-18/styles/sul.css" %>
    <%= javascript_importmap_tags %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B544ZKTH0M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      // To turn off debug mode, exclude the parameter altogether (cannot just set to false)
      // See https://support.google.com/analytics/answer/7201382?hl=en#zippy=%2Cgoogle-tag-websites
      args = <%= Settings.analytics_debug %> ? {"debug_mode":true} : {};
      gtag('js', new Date());
      gtag('config', 'G-B544ZKTH0M', args);
    </script>
  </head>

  <body>
    <%= render 'shared/top_navbar' %>
    <main id="main-container" class="container pt-2 pb-3">
      <%= breadcrumbs style: :bootstrap5 %>
      <%= render 'shared/global_alert' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </main>
    <%= render 'shared/sul_footer' %>
  </body>
</html>
